{% extends 'base.html' %}

{% block title %}Message Page {% endblock title %}

{% block link %} "/newsfeed" {% endblock link %}
{% block content %} Newsfeed Page {% endblock content %}

{% block link1 %} "/profile" {% endblock link1 %}
{% block content1 %} Profile Page {% endblock content1 %}

{% block link2 %} "/newsfeed" {% endblock link2 %}
{% block content2 %} Newsfeed Page {% endblock content2 %}

{% block link3 %} "/profile" {% endblock link3 %}
{% block content3 %} Profile Page {% endblock content3 %}

{% block content4 %} <h1> I Am Message Page </h1>{% endblock content4 %} 


{% block link5 %} "/newsfeed" {% endblock link5 %}
{% block content5 %} Newsfeed Page{% endblock content5 %} 













