{% extends 'base.html' %}

{% block title %}Message Page {% endblock title %}

{% block link %} {% url "profile_page" %} {% endblock link %}
{% block content %} Profile Page {% endblock content %}

{% block link1 %} "/msg" {% endblock link1 %}
{% block content1 %} Message Page {% endblock content1 %}

{% block link2 %} {% url "profile_page" %} {% endblock link2 %}
{% block content2 %} Profile Page {% endblock content2 %}

{% block link3 %} "/msg" {% endblock link3 %}
{% block content3 %} Message Page {% endblock content3 %}



<!-- Body -->
{% block content4 %}

<h1> I Am Newsfeed Page </h1> 


{% endblock content4 %} 














