{% extends 'base.html' %}

{% block title %}Message Page {% endblock title %}

{% block link %} "/msg" {% endblock link %}
{% block content %} Message Page {% endblock content %}

{% block link1 %} "/newsfeed" {% endblock link1 %}
{% block content1 %} Newsfeed Page {% endblock content1 %}

{% block link2 %} "/msg" {% endblock link2 %}
{% block content2 %} Message Page {% endblock content2 %}

{% block link3 %} "/newsfeed" {% endblock link3 %}
{% block content3 %} Newsfeed Page {% endblock content3 %}


{% block content4 %}
<h1> I Am Profile Page </h1>

<a style="text-align: center; position: absolute; top: 40%; left: 50%;" href=""> <button class="btn btn-outline-info"
        style="text-align: center;"> btn </button> </a>

<a class="btn btn-outline-info" style="text-align: center; position: absolute; top: 60%; left: 50%;" href=""> link btn
</a>
{% endblock content4 %}